[submodule "Computer-Architecture/2-RISC-V/hardware/riscv-soc-cores/sw/FreeRTOS-Kernel"]
	path = Computer-Architecture/2-RISC-V/hardware/riscv-soc-cores/sw/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
